
.spl-font{
 font-family: 'Playfair Display', serif;
 font-size: 16px;
 
}
 .navbar {

      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 15px;
      font-color:white;
      letter-spacing: 5px;
       background-color: #0E7D60;

  }
  .navbar-nav  li a:hover {
      color: #000 !important;
  }
 .anch {
    text-decoration: none;
    
}
.textColor{
color: white;

}

.navbar-default .navbar-nav > li > a {
    color: white; /*Change active text color here*/
}
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 1000px}
    
    /* Set gray background color and 100% height */
    
    .sidenav {

         background:  url("../img/nw/bg3.jpg");
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    
    footer {
      background-color: #0E7D60;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
    .test {
    /*background:  url("img/nw/bg3.jpg");*/
      background-color: #0E7D60;
      margin-bottom:0;
  }
  body{
    background:  url("../img/nw/bg3.jpg");

  }
  .act{
     background-color: #0E7D60;
  }

.panel > .panel-heading {
    background-image: none;
    background-color: #0E7D60;
    color: white;

}
 .panel > .panel-footer {
    background-image: none;
    background-color: #0E7D60;
    color: white;

}
